# === Python ===
# Bytecode and cache
__pycache__/
*.py[cd]

# C extensions
*.so

# === Build and Distribution ===
dist/

# === Testing and Coverage ===
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/
.ruff_cache/

# Test artifacts
target/

# === Documentation ===
docs/chap_core*.rst
docs/modules.rst
site/

# === Environment and Secrets ===
.env
.venv

# === IDE and Editors ===
.vscode/
.idea/

# === Runtime Outputs and Logs ===
*.log
/logs/*
runs/
mlruns/

# === Project-Specific ===
config/configured_models/*
!config/configured_models/default.yaml

# === OS-Specific ===
.DS_Store
chap_core.egg-info
