# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/
.ruff_cache/

# Logs
*.log

# Sphinx documentation
docs_source/_build/
docs_source/chap_core*.rst
docs_source/modules.rst

# PyBuilder / Test artifacts
# All test outputs, model artifacts, and build products go in target/
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
# .python-version

# dotenv
.env

# virtualenv
.venv

# IDE settings
.vscode/
.idea/

#ignore outputs from pytest
/runs
mlruns/

# Ignore custom model templates and configured models
config/configured_models/*
!config/configured_models/default.yaml

# ignore mac finder setting files
.DS_Store

#ignore
/logs/*
