pip
bump2version
wheel
Sphinx
typer~=0.9.0
pytest<8  # something weird with version 8 of pytest
# hypothesis~=6.98.2
coverage
pytest-cov
build
geopy
meteostat
pytest-mock
furo
myst-parser
earthengine-api
python-dotenv
myst_parser
furo
virtualenv
pre-commit