apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chap.fullname" . }}
  labels:
    {{- include "chap.labels" . | nindent 4 }}
type: Opaque
data:
  GOOGLE_SERVICE_ACCOUNT_EMAIL: {{ .Values.googleServiceAccount.email | b64enc | quote }}
  GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: {{ .Values.googleServiceAccount.privateKey | b64enc | quote }}
{{- if not .Values.valkeyConnection.existingSecret }}
  REDIS_PASSWORD: {{ .Values.valkeyConnection.password | b64enc | quote }}
{{- end }}
{{- if and .Values.postgresql.external.host (not .Values.postgresql.existingSecret) }}
  POSTGRES_PASSWORD: {{ .Values.postgresql.external.password | b64enc | quote }}
  POSTGRES_USER: {{ .Values.postgresql.external.user | default "postgres" | b64enc | quote }}
{{- end }}
