name: Create and publish chap Docker image

on:
  push:
    branches: ["dev", "master"]
    tags: ["1.*"]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dockerfile: Dockerfile
            image_name: dhis2-chap/chap-core
          - dockerfile: Dockerfile.inla
            image_name: dhis2-chap/chap-core-with-inla

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine Docker image tag
        id: tag
        run: |
          REF="${GITHUB_REF}"
          TAG=""

          if [[ "$REF" == "refs/heads/dev" ]]; then
            TAG="dev"
          elif [[ "$REF" == "refs/heads/master" ]]; then
            TAG="latest"
          elif [[ "$REF" =~ ^refs/tags/1\..* ]]; then
            git fetch origin master --depth=1
            TAG_COMMIT=$(git rev-parse "$REF")
            if git merge-base --is-ancestor "$TAG_COMMIT" origin/master; then
              TAG="${REF#refs/tags/}"
            else
              echo "âŒ Tag does not point to a commit on master. Skipping image build."
              exit 0
            fi
          else
            echo "No valid branch or tag for image publishing"
            exit 0
          fi

          # Output the full tag for the Docker build step
          echo "TAGS=${{ env.REGISTRY }}/${{ matrix.image_name }}:$TAG" >> "$GITHUB_OUTPUT"
        shell: bash

      - name: Build and push Docker image (amd64)
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          platforms: linux/amd64
          tags: ${{ steps.tag.outputs.TAGS }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v2
        with:
          subject-name: ${{ env.REGISTRY }}/${{ matrix.image_name }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
