# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test-all (docker, external models, etc)

on:
  push:
    branches: ["master", "dev"]
  pull_request:
    branches: ["master", "dev"]

permissions:
  contents: read
  packages: read

jobs:
  build:
    env:
      GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
      GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}

    runs-on: ubuntu-latest
    #container:
    #    image: ubuntu:latest
    #    options: --user root
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v4

      #- name: Set up Docker Buildx
      #  uses: docker/setup-buildx-action@v3

      #- name: Log in to GitHub Container Registry
      #  uses: docker/login-action@v3
      #  with:
      #    registry: ghcr.io
      #    username: ${{ github.actor }}
      #    password: ${{ secrets.GITHUB_TOKEN }}

      #- name: Pull worker image from cache
      #  run: |
      #    docker pull ghcr.io/dhis2-chap/chap-worker-with-inla@sha256:634bb3e61e66f9c1c2d499c495d294cd5f287078ae7b54629114066f8ec75aab

      # - name: Free Disk Space (Ubuntu)
      #   uses: jlumbroso/free-disk-space@main
      #   with:
      #     # this might remove tools that are actually needed,
      #     # when set to "true" but frees about 6 GB
      #     tool-cache: false
      #
      #     # all of these default to true, but feel free to set to
      #     # "false" if necessary for your workflow
      #     android: true
      #     dotnet: true
      #     haskell: true
      #     large-packages: false
      #     swap-storage: true
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Set up Python ${{ matrix.python-version }}
        run: |
          sudo apt-get install -y libbz2-dev liblzma-dev
          uv python install ${{ matrix.python-version }}
      - name: Install the project
        run: uv sync --dev
      - name: Install pyenv
        uses: gabrielfalcao/pyenv-action@v18
        with:
          default: "3.13"
          command: ""
      - name: Run
        run: |
          make test-all
