# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test-all (docker, external models, etc)

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

permissions:
  contents: read

jobs:
  build:
    env:
      GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
      GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}

    runs-on: ubuntu-latest
    #container:
    #    image: ubuntu:latest
    #    options: --user root
    strategy:
        matrix:
            os: [ubuntu-latest]
            python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v3
    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}
    - name: Install the project
      run: uv sync --dev
    - name: Install pyenv
      uses: gabrielfalcao/pyenv-action@v18
      with:
        default: "3.10"
        command: ""
    - name: Run
      run: |
        make test-all
